<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <style>
        #map {
            height: 600px;
            width: 800px;
        }
    </style>
    <script type="text/javascript">
        /*<![CDATA[*/
        var chosenPersonId = 0;
        var chosenPersonLocations = [];
        var map = {};
        var personMovement = {};
        var hostURL = location.protocol.concat("//").concat(window.location.host);
        var timestamp = [];
        var dataTable = {};
        var maxSpeed = 0;
        var sumSpeed = 0;
        var avgSpeed = 0;
        var counter = 0;

        google.charts.load('current', {'packages':['corechart']});

        function httpGetAsync(url, callback) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    callback(this.responseText);
                }
            };
            xhttp.open("GET", url, true);
            xhttp.send();
        }
        function parseLocationData(location, i, arr) {
            timestamp.push(parseInt(location.lastLocationTime));
            var date = (new Date(parseInt(location.lastLocationTime) * 1000));
            arr[i] = [location.id, date.toLocaleString("pl-PL"), location.latitude, location.longitude];
            if(i === 0) {
                dataTable.addRow([date, 0]);
            }
            else {
                var lastLatLng = new google.maps.LatLng(arr[i-1][2], arr[i-1][3]);
                var thisLatLng = new google.maps.LatLng(location.latitude, location.longitude);
                var ds = google.maps.geometry.spherical.computeDistanceBetween(thisLatLng, lastLatLng);
                var dt = parseInt(location.lastLocationTime) - timestamp[i-1];
                if(dt > 0) {
                    var speed = ds / dt; // mps
                    if (dt > 15) {
                        dataTable.addRow([date, 0]);
                    } else {
                        dataTable.addRow([date, speed]);
                        if (speed > maxSpeed) maxSpeed = speed;
                        sumSpeed += speed;
                        counter++;
                    }
                }
            }
        }
        function drawSpeedPlot() {
            var options = {
                title: 'Speed',
                height: 400,
                curveType: 'none',
                legend: { position: 'bottom' },
                hAxis: { title: 'Time' },
                vAxis: {
                    title: 'Speed [m/s]',
                    minValue: 0
                },
                explorer: {
                    actions: ['dragToZoom', 'rightClickToReset'],
                    axis: 'horizontal',
                    keepInBounds: true,
                    maxZoomIn: 4.0
                }
            };
            var chart = new google.visualization.LineChart(document.getElementById('plot'));
            chart.draw(dataTable, options);
        }
        function addOption(item) {
            var option = document.createElement("option");
            option.value = item.id;
            option.text = item.id + ". " + item.name + " " + item.surname;
            personSelect.add(option);
        }
        function getLocations() {
            chosenPersonId = personSelect.options[personSelect.selectedIndex].value;
            var url = hostURL + "/location/personId=" + chosenPersonId;
            var callback = function (locations) {
                chosenPersonLocations = JSON.parse(locations);
                locations = JSON.parse(locations);
                timestamp = [];
                dataTable = new google.visualization.DataTable();
                dataTable.addColumn('datetime', 'Time');
                dataTable.addColumn('number', 'Speed');
                avgSpeed = 0;
                sumSpeed = 0;
                maxSpeed = 0;
                counter = 0;
                locations.forEach(parseLocationData);
                avgSpeed = sumSpeed / counter;
                document.getElementById("avg").innerHTML = avgSpeed.toFixed(2).toString() + " m/s";
                document.getElementById("max").innerHTML = maxSpeed.toFixed(2).toString() + " m/s";
                $('#locationTable').dataTable().fnClearTable();
                if (locations.length !== 0)
                    $('#locationTable').dataTable().fnAddData(locations);
                setPersonPath();
                drawSpeedPlot();
            };
            httpGetAsync(url, callback);
        }
        function setPersonPath() {
            var path = [];
            for (var i = 0; i < chosenPersonLocations.length; i++) {
                path.push({lat: chosenPersonLocations[i].latitude, lng: chosenPersonLocations[i].longitude});
            }

            if(chosenPersonLocations.length !== 0) {
                personMovement.setPath(path);
                personMovement.setMap(map);
                map.setCenter(path[path.length - 1]);
            }
            else personMovement.setMap(null);
        }
        function getAllPeople() {
            var url = hostURL + "/person";
            var callback = function (people) {
                people = JSON.parse(people);
                people.forEach(addOption);
                personSelect.onchange = getLocations;
                getLocations();
            };
            httpGetAsync(url, callback);
        }
        /*]]>*/
    </script>
</head>
<body>
<h3>Activity Monitoring</h3>
<h4>Amadeusz Lisiecki, Michał Pomiećko</h4>
<div id="map" style="margin:auto;"></div>
<select id="personSelect" />
<div id="stats" style="margin:auto;">Max speed: <div id="max"></div> Average speed: <div id="avg"></div> </div>
<div id="plot" style="margin:auto;"></div>
<table id="locationTable" class="display" cellspacing="0" width="100%"></table>
<script>
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 10,
            mapTypeId: 'terrain'
        });

        personMovement = new google.maps.Polyline({
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });
    }
</script>
<script async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJEWlBRejDBJKxcwKiPkb17lu6zmyxHT0&amp;callback=initMap&amp;libraries=geometry"
        type="text/javascript">
</script>
<script>
    var personSelect = document.getElementById("personSelect");
    $(document).ready(function() {
        $('#locationTable').DataTable({
            columns: [
                { title: "ID" },
                { title: "Last location time" },
                { title: "Latitude" },
                { title: "Longtitude" }
            ]
        });
    });
    getAllPeople();
</script>
</body>
</html>